<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsm.dao.RotationChartDao">

    <!--查询轮播图列表-->
    <select id="selectRotationChartList" parameterType="RotationChartVo" resultType="RotationChartDo">
       select t.id,
               t.chart_url,
               t.web_url,
               t.status
        from rotation_chart t
        <where>
            <if test="status != -1">
                t.status = ${status}
            </if>
        </where>
        <if test="status == -1">
            order by t.status desc
        </if>
    </select>

    <!--根据id更新信息-->
    <update id="updateRotationChartById" parameterType="RotationChartVo">
        update rotation_chart
        set chart_url = #{chartUrl},
            web_url = #{webUrl},
            status = #{status}
        where id = #{id}
    </update>
</mapper>